body{
font-family: Arial;
background-color: #ffffffd7;
text-align: center;
margin-top: 100px;
}

div{
background-color: rgb(85, 85, 90);
padding: 20px;
width: 300px;
margin: auto;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

input{
width: 90%;
padding: 10px;
margin: 10px 0;
}

#button{
background-color: #170bbe;
color: rgb(238, 231, 231);
border: none;
cursor: pointer;
}

#button:hover{
background-color: #1a70b6;
}

#resultado{
margin-top: 30px;
font-size: 20px;
color: rgb(255, 255, 255);
text-align: center;
}
 